header {
  background-color: #ffb3b3;
  padding: px;
  position: sticky;
  top: 0;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.product {
  background: #fff;
  border: 1px solid #f0dada;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

.product img {
  width: 100%;
  border-radius: 10px;
  width: 210px; 
  height: 200px;
}
